<%# YOU ARE HERE - FILL OUT SELECT TAGS AND CREATE JS LOGIC TO FILTER OUT APPROPRIATE DECKS - use element.hidden = true ??? %>

<label>Admin Approved: </label>
<select id="admin-select">
    <option value="All">All</option>
    <option value="Yes">Approved</option>
    <option value="No">Not Approved</option>
</select>
<br>
<label>Level: </label>
<select id="level-select">
    <option value="All">All</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
</select>
<br>
<label>User: </label>
<select id="user-select">
    <option value="All">All</option>
    <% User.all.map do |user| %>
        <option value=<%= user.id %>><%= user.name %></option>
    <% end %>
</select>
<br><br>
<button id="search-button">Submit Search</button>
<br><br><br>
<table>
    <thead>
        <tr>
            <td>Deck Title: </td>
            <td>Approved: </td>
            <td>Level: </td>
            <td>Creator: </td>
        </tr>
    </thead>

    <tbody>
        <% @deck_search.decks.map do |deck| %>
            <tr class="deck-row" id=<%= "deck-#{deck.id}" %>>
                <td class="deck-name"><%= link_to deck.name, deck_path(deck) %></td>
                <td class="deck-admin"><%= deck.admin_approved ? "Yes" : "No" %></td>
                <td class="deck-level"><%= deck.level %></td>
                <td class="deck-user" data-user-id=<%= deck.user.id %>><%= deck.user.name %></td>
            </tr>
        <% end %>
    </tbody>
</table>