<%= form_tag '/deck_search', method: 'get' do %>

    <label>Approved: </label>
    <%= select_tag 'admin_approved', options_for_select([ ["Admin Approved", true], ["Not Admin Approved", false] ], @deck_search.admin_approved), include_blank: "All" %><br>

<%# create Level model, and then use those instances for select_tag %>
    <label>Level: </label>
    <%= select_tag 'level', options_for_select(["1", "2", "3", "4", "5", "6", "7"], @deck_search.level), include_blank: "All" %><br>

    <label>User: </label> 
    <%= select_tag 'user_id', options_for_select(User.all.collect{ |u| [u.name, u.id] }, @deck_search.user_id), include_blank: "All" %><br>
    
    <br>
    
    <%= submit_tag "Search Decks" %>

<% end %>
