<br><br>
-------------------
<br><br>

<button><%= link_to "Home Page", "/" %></button>
 | | 

<% if logged_in? %>
    <button><%= link_to "Profile Page", user_path(current_user) %></button>
     | | 
    <button><%= link_to "Edit Profile", edit_user_path(current_user) %></button>
     | | 
    <button><%= link_to "Logout", "/logout", method: 'post' %></button>
     | | 
    <button><%= link_to "Scoped Decks", "/decks/scoped" %></button>
<% else %>
    <button><%= link_to "Sign in here", "/login" %></button>
     | | 
    <button><%= link_to "Sign up here", new_user_path %></button>
     | | 
    <button><%= link_to "Enter as Visitor", visitors_path %></button>
<% end %>