<h1>
    <%= @avg_wait_time %>
</h1>

<h2>
    <%= form_tag('/wait_time', method: "post") do %>

        <%= label_tag(:seconds, "Wait Time: ") %>
        <%= number_field_tag(:seconds) %><br>
        <%= submit_tag("Send Time") %>

    <% end %>
</h2>