<%= form_with model: [current_user, @deck], local: true do |f| %>
    <%= f.label :name, "Name: " %>
    <%= f.text_field :name %>

    <%= f.label :level, "Level: " %>
    <%= f.number_field :level, in: 1..8, step: 1 %>

    <% if current_user.admin %>
        <%= f.label :admin_approved, "Aprroved: " %>
        <%= f.check_box :admin_approved %>
    <% end %>

    <br><br>

    <h3><strong>CARDS:</strong></h3>
    <table>
        <thead>
            <tr>
                <td>English:</td>
                <td>Spanish:</td>
            </tr>
        </thead>

        <tbody id="nested-cards-table" class="fields">
            <%= f.fields_for :cards do |ff| %>
                <tr class="card-row" key=<%= ff.index %>>
                    <td>
                        <%= ff.text_field :english %>
                    </td>
                    <td>
                        <%= ff.text_field :spanish %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    

    <%= f.submit "Submit Flash Cards" %>
    
<% end %>

<br><br>

<button id="add-card-button">Add Card</button>