<h2><%= @deck.name %></h2>
<h4>Level: <%= @deck.level %></h4>
<h4>Admin Approved: <%= @deck.admin_approved ? "TRUE" : "FALSE" %></h4>

<table>
    <tbody>
        <tr>
            <td>ENGLISH:</td>
            <td>SPANISH:</td>
        </tr>

        <% @deck.cards.map do |card| %>
            <tr>
                <td><%= card.english %></td>
                <td><%= card.spanish %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br><br>
<button><%= link_to "Edit Set", edit_user_deck_path(@deck.user, @deck) %></button>

<br><br>

-- OR --

<br><br>
    
<button>
    <%= link_to "Delete Set", [current_user, @deck], method: 'delete', data: { confirm: "Are you sure?" } %>
</button>