<h2><%= @deck.name %></h2>
<h4>Level: <%= @deck.level %></h4>
<h4>Admin Approved: <%= @deck.admin_cloned? ? "TRUE" : "FALSE" %></h4>

<table>
    <tbody>
        <tr>
            <td>ENGLISH:</td>
            <td>SPANISH:</td>
        </tr>

        <% @deck.cards.map do |card| %>
            <tr>
                <td><%= card.english %></td>
                <td><%= card.spanish %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br><br>

<% if @deck.user == @user %>
    <%= render partial: "edit_button" %>
<% end %>

<% if @user.admin %>
    <%= if @deck.admin_cloned? %>
        <h3>- Already Cloned -</h3>
    <% else %>
        <%= render partial: "clone_button" %>
    <% end %>
<% end %>