<!DOCTYPE html>
<html>
  <head>
    <title>ConexionResourceMgmt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>


  <body>
  
      <header>
        <%= render partial: 'partials/header'%>
      </header>

      <%= yield %>

      <footer>
        <%= render partial: 'partials/footer'%>
      </footer>
   
  </body>

  

</html>
